@import "bootstrap-lavish.css"
@import "bootstrap-docs.css"

.navbar a.username
  font-weight bold

#body
  margin-bottom 64px

#footer
  line-height 40px
  height 40px
  bottom 0
  position fixed
  background #f0f0f0
  border-top 4px solid #e0e0e0
  width 100%
  color #999
  text-align right

  a
    color #666

.home

  .thumbnail

    h3
      text-align center
      line-height 100px
      background #dff0d8
      font-size 36px
      text-shadow 0 1px #fff
      margin-bottom 10px

      a
        display inline-block
        width 100%

        &:hover
          text-decoration none

    p
      margin 0

.rpanel
  padding 0
  margin 0 0 10px 0

  p.lead
    margin 10px 0 0 0

  pre
    margin 10px 0 0 0
    overflow-x auto
    font-size 14px

    .line

      &.weak
        color #999

      &.strong
        font-weight bold

table.table
  margin-bottom 0

  td.section-cell
    font-weight bold
    background #f0f0f0
    color #999
    text-shadow 0 1px #fff

    &.jumbotron
      font-size 22px
      line-height 44px

  td.subsection-cell
    font-weight bold
    background #f7f7f7
    color #999
    text-shadow 0 1px #fff

  td.left-split
    border-left 1px solid #ddd

  td.label-cell
    font-weight normal
    text-align right
    white-space nowrap

  td.value-cell
    font-weight bold

.centered
  text-align center

.api-guide
  font-size 16px

  li
    margin 10px 0

.well
  small
    color #666

.spinner
  text-align center
  padding 40px

.hidden
  display none

.alert

  p
    margin 0

  a
    color #C09853

  &.alert-success
    a
      color #468847

  &.alert-info
    a
      color #3A87AD

  &.alert-error
    a
      color #B94A48

  &.alert-no-control
    padding-right 14px

    p
      margin-bottom 10px

    table
      margin-bottom 5px

.trace-entry
  background #f7f7f7
  padding 5px
  margin-bottom 10px
  border-radius 6px
  border 1px solid #f0f0f0
  
  .alert
    margin 0
    padding 10px 14px
    
    span.elapsed
      float right

  .trace-panel
    
    pre
      background #fff

.well.controls
  padding 10px
  margin-bottom 10px
  
  .nav
    margin-bottom 0

    &.nav-tabs > .active > a, .nav-tabs > .active    
      background-color #fafafa
  
  .tab-content
    background #fafafa
    margin 0
    padding 10px
    border-width 0 1px 1px 1px
    border-style solid
    border-color #ddd

.win
  background-color #dff0d8
  color #468847
  font-size 40px
  line-height 40px
  font-weight bold
  text-align center

// hacky; not needed in bs2.0.2
.modal
  overflow hidden
  max-height 600px
  width 800px
  margin-left -400px

// hacky; not needed in bs2.0.2
.modal-body
  overflow-y auto
  max-height 466px

:-moz-placeholder
  color #999

::-webkit-input-placeholder
  color #999

form

  input, select, textarea
    color #333

  .narrow
    width 80px
