module.exports =
  trace: false
  consumer:
    url: "http://localhost:{port}"
    id: "your oauth id"
    secret:"your oauth secret"
    scope: "account consumption device"
    #scope: "account user_information user_profile location consumption pricing device comparisons greenbutton offline_access"
    threshold: 60
  provider:
    url: "https://dev.tendrilinc.com"
    authorize: "/oauth/authorize"
    accessToken: "/oauth/access_token"
    logout: "/oauth/logout"
    route: "sandbox"
