- var statusNs = "thermostat-" + device.deviceId + "-status"

.well.controls
  a.btn(href="#"+statusNs, data-toggle="modal", data-device-cmd=statusNs) Get Status

!= partial("devices_control_modal", {modalTitle: "Thermostat Status", modalNs: statusNs})
