.modal.hide.fade.in(id=modalNs, data-backdrop="true", data-keyboard="true", data-show="false")
  .modal-header
    a.close(href="#", data-dismiss="modal") ×
    h3= modalTitle
  .modal-body(id=modalNs+"_content")
  .modal-footer
    a.btn(href="#", data-dismiss="modal") Close
