table.table.table-bordered.table-striped
  tr
    td.span3.label-cell Account ID
    td.value-cell= model.id()
  tr
    td.span3.label-cell External Account ID
    td.value-cell= model.externalAccountId()
