.row
  .span6
    p
      | The goal of this application is to demonstrate basic usage of the&nbsp;
      a(href="https://dev.tendrilinc.com", target="_blank") Tendril Connect &#x2122; web services
      | &nbsp;while providing simple demonstration visualizations for each public API,
      | accompanied by a log of HTTP interactions required to produce each visualization.

  .span6
    p
      | This application is&nbsp;
      a(href="https://github.com/TendrilDevProgram/tendril-connect-demos", target="_blank") open source
      | . For more information on the web services demonstrated herein, please see the&nbsp;
      a(href="https://dev.tendrilinc.com", target="_blank") Tendril Developer Program website
      | .
